page-detalhes-estabelecimento {
    .content {
        background: transparentize($color: #000000, $amount: 0.97);
 
        p {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size: 1.1em;
            margin: 0;
        }
    
 
    }
}