<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-refresh" md="md-refresh" icon-end></ion-icon>

            </button>
        </ion-buttons>
        <ion-title>

            Editar Anúncio

        </ion-title>

    </ion-navbar>

    <!-- <ion-toolbar no-border center toolbar-ios-height>

        <ion-scroll scrollX="true" style="white-space:nowrap;height: 70px;">
            <div class="scroll-item">
                <ion-col col-xs-3 col-sm-1 col-lg-2 nowrap>
                    <ion-row class="card card-1" *ngFor="let p of jogo.fotos">
                        <img src="{{p}}" #myImage (click)="presentImage(myImage)">
                        <ion-icon name="trash" class="deleteIcon" (click)="removeItem(p)"></ion-icon>
                    </ion-row>

                    <ion-row *ngIf="getQtdFotos()" class="card card-1">
                        <button ion-button danger>
                            <ion-icon ios="ios-camera" md="md-camera" (click)="onActionSheet()"></ion-icon>
                        </button>
                    </ion-row>
                </ion-col>

            </div>
        </ion-scroll>

    </ion-toolbar> -->
</ion-header>

<ion-content>
    <form [formGroup]="newAnuncio">
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" formControlName="editarNome" [(ngModel)]="jogo.nome"></ion-input>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.editarNome.valid &&
                            newAnuncio.controls.editarNome.touched">
            Insira um nome
        </span>

        <br>

        <ion-item>
            <ion-label floating>Console</ion-label>
            <ion-select type="text" formControlName="editarConsole" [(ngModel)]="jogo.console">
                <ion-option value="Xbox One">Xbox One</ion-option>
                <ion-option value="XBOX 360">XBOX 360</ion-option>
                <ion-option value="PS4">PS4</ion-option>
                <ion-option value="PS3">PS3</ion-option>
                <ion-option value="PS Vita">PS Vita</ion-option>
                <ion-option value="Wii U">Wii U</ion-option>
                <ion-option value="Wii">Wii</ion-option>
                <ion-option value="3DS">3DS</ion-option>
                <ion-option value="PC">PC</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.editarConsole.valid &&
                            newAnuncio.controls.editarConsole.touched">
            Selecione o console!
        </span>

        <br>

        <ion-item>
            <ion-label floating>Categoria</ion-label>
            <ion-select type="text" formControlName="editarCategoria" [(ngModel)]="jogo.categoria">
                <ion-option value="Ação">Ação</ion-option>
                <ion-option value="Aventura">Aventura</ion-option>
                <ion-option value="Esportes">Esportes</ion-option>
                <ion-option value="Corrida">Corrida</ion-option>
                <ion-option value="RPG">RPG</ion-option>
                <ion-option value="Shooter">Shooter</ion-option>
                <ion-option value="Luta">Luta</ion-option>
                <ion-option value="Simulação">Simulação</ion-option>
                <ion-option value="Musical">Musical</ion-option>
                <ion-option value="Fitness">Fitness</ion-option>
                <ion-option value="MMO">MMO</ion-option>
                <ion-option value="Estratégia">Estratégia</ion-option>
                <ion-option value="Casual">Casual</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.editarCategoria.valid &&
                                newAnuncio.controls.editarCategoria.touched">
            Selecione o console!
        </span>

        <br>

        <ion-item>
            <ion-label floating>Preço</ion-label>

            <ion-input formControlName="editarPreco" [(ngModel)]="jogo.preco" type="text" name="money" [brmasker]="{money: true,decimal: 2,type:  'num'} ">
            </ion-input>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.editarPreco.valid &&
        newAnuncio.controls.editarPreco.touched">
            Insira um valor!
        </span>

        <br>

        <ion-label>Objetivo</ion-label>
        <ion-item>
            <ion-label>Troca</ion-label>
            <ion-checkbox name="editarTroca" formControlName="editarTroca" [(ngModel)]="jogo.troca" color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Venda</ion-label>
            <ion-checkbox name="editarVenda" formControlName="editarVenda" [(ngModel)]="jogo.venda" color="secondary"></ion-checkbox>
        </ion-item>

        <br>

        <ion-item>

            <ion-label floating>Descrição</ion-label>
            <ion-textarea [(ngModel)]="jogo.descricao" type="text" formControlName="editarDescricao" autocorrect="on" #editarDescricao
                rows="4" id="editarDescricao" maxLength="500" name="editarDescricao"></ion-textarea>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.editarDescricao.valid &&
                            newAnuncio.controls.editarDescricao.touched">
            Insira uma descrição
        </span>

    </form>

</ion-content>
<ion-footer>
    <button ion-button block (click)="save()" [disabled]="!newAnuncio.valid">
        Concluir
    </button>
</ion-footer>