<ion-header>
  <custom-logged-header [title]="jogo.nome" [jogo]="jogo"> </custom-logged-header>
  <ion-card ion-item class="card" (click)="itemTapped($event, jogo)">
          <ion-item>
            <ion-thumbnail item-start>
              <img class="round" [src]="jogo?.fotos ||  'assets/imgs/no-image-available.jpg' || async">
            </ion-thumbnail>
            <ion-grid>
              <ion-row >
                <ion-col>
                  <h1>{{jogo.nome}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>{{jogo.descricao}}</p>
                  <p style="color:blue"> 
                   R${{jogo.preco}}
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
               
                <ion-col *ngIf="jogo?.venda">
                  <ion-badge color="venda">Venda</ion-badge>
                </ion-col>
                <ion-col *ngIf="jogo?.troca">
                  <ion-badge color="secondary">Troca</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
       
  </ion-card>
</ion-header>


<ion-content class='campo' isScrolling="true" #content>
  <message-box *ngFor="let m of allmessages " [message]="m" [isFromSender]="(m.sentby === currentUser)"></message-box>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item no-lines>
      <ion-input type="text" (keyup.enter)="addmessage()" placeholder="Mensagem..." [(ngModel)]="newMessage"></ion-input>
      <button ion-button item-right (click)="addmessage()" [disabled]="isVazio()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>