<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Meu Perfil </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="canEdit= !canEdit">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>
<ion-content padding="true">
  <user-info [isMenu]="false" [user]="currentUser"></user-info>

  <form *ngIf="canEdit" #profileForm="ngForm">
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" placeholder="Nome" name="name" [(ngModel)]="currentUser.name" required minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" placeholder="Username" disabled="true" name="username" [(ngModel)]="currentUser.email" required="false" minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon ios="ios-call" md="md-call" item-left></ion-icon>
      <ion-input type="tel" placeholder="Telefone" name="telefone"[(ngModel)]="currentUser.telefone" required="false"  maxlength="15" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon ios="ios-home" md="md-home" item-left></ion-icon>
      <ion-input (ionBlur)="buscarCep($event)"  name="cep" type="text" [(ngModel)]="currentUser.cep" required="false"  placeholder="Cep">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon ios="ios-home" md="md-home" item-left></ion-icon>
      <ion-input placeholder="Cidade" name="cidade"  type="text" [(ngModel)]="currentUser.cidade" required="false"  readonly="true">
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="image" item-left></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)">
    </ion-item> -->


    <!-- <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar> -->


    <br>

    <button ion-button block light  (click)="onSubmit($event)" [disabled]="!profileForm.form.invalid"> Salvar</button>

  </form>

  <button ion-button block (click)="onMeusAnuncios()"> Meus Anúncios</button>

</ion-content>