<ion-header>
  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button (click)="presentPopover($event)">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>

      </button>
    </ion-buttons>
    <ion-title style="background:transparent">
      Lista de Jogos
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Busca" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Puxe para atualizar"
    refreshingSpinner="dots"
    refreshingText="Atualizando..." >

    </ion-refresher-content>

    <!-- <ion-spinner style="position:flex;top:50%;left:50%" name="dots"></ion-spinner> -->



  </ion-refresher>



  <!-- <div *ngIf="todos.length==0">
    <p align="center">Algo deu errado! Tente atualizar
      <i class="em em-arrow_down"></i>
    </p>
  </div> -->

  <ion-card *ngFor="let todo of todos;let i = index" (click)="itemTapped($event, todo)">
    <ion-item>
      <ion-thumbnail item-start>
        <img class="round" [src]="todo?.fotos ||  'assets/imgs/no-image-available.jpg' || async">
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>{{todo.nome}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{todo.descricao}}</p>
            <p style="color:blue">
              R${{todo.preco}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col *ngIf="todo?.venda">
            <ion-badge color="venda">Venda</ion-badge>
          </ion-col>
          <ion-col *ngIf="todo?.troca">
            <ion-badge color="secondary">Troca</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <!-- <p *ngIf="todos.length!=0" align="center"> Não temos mais anúncios
    <i class="em em-hushed"></i>
  </p> -->
  <ion-fab right bottom>
    <button edge ion-fab (click)="openPage($event)">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots">


    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>