// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.round {
    width: 50%;
    border-radius: 100%;
}

.content {
    background: transparentize($color: #000000, $amount: 0.96);
    background-size: cover;
    background-position-x: 50%;
    color: transparentize($color: black, $amount:0.1);
    margin:0;padding:0;
 
    .card {
        border-radius: 3%;
        .label {
            color: black;
        }
    }
    ion-option {
        background: transparent;
    }
    ion-select {
        background: transparent;
    }
    ion-title {
        text-align: center;
    }
    ion-label {
        background: transparent;
    }
}