<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chats
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>


  <div *ngIf="chats.length===0">
    <p align="center">Você ainda não possui nenhuma mensagem. 
        <i class="em em--1"></i>
    </p>
  </div>
  <ion-list  >
    <ion-item-sliding *ngFor="let chat of chats |  orderBy: order:reverse ">
      <ion-item  (click)="buddychat(chat)">
        <ion-avatar item-start>
          <img [src]="chat?.foto ||  'assets/imgs/no-image-available.jpg'">
        </ion-avatar>
        <h2>{{chat.title}}</h2>
        <p *ngIf="chat.key;else customMessage">{{ chat.timestamp | date:'dd/MM/y H:mm '}} - {{ chat.message }}</p>

        <ng-template #customMessage>
          <p>
            Sem Mensagens
          </p>
        </ng-template>

      </ion-item>
      <ion-item-options>
        <button ion-button color=danger (click)="excluirChat(chat)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>

      </ion-item-options>
    </ion-item-sliding>
    <!-- <button ion-item *ngFor="let chat of chats;async" (click)="buddychat(chat)">
      <ion-avatar item-start>
        <img [src]="chat.foto|| 'assets/imgs/no-photo.jpg'">
      </ion-avatar>
      <h2>{{chat.title}}</h2>
      <p *ngIf="chat.key;else customMessage">{{ chat.timestamp | date:'dd/MM/y H:mm '}} - {{ chat.message }}</p>

      <ng-template #customMessage>
        <p>
          Sem Mensagens
        </p>
      </ng-template>
    </button> -->
  </ion-list>

</ion-content>