message-box {
    display:flex;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    .text {
        word-wrap: break-word;
        background-color: #efefef;
        padding: 7px 5px 5px 5px;
        box-shadow: 1px 1px 3px #ccc;
        color: #333;
        
        p{
            white-space:pre-wrap;
            word-wrap: break-word;
            font-size: 1.1em;
            margin:0;
           
        }
        p.timestamp{
            font-size: 0.8em;
            margin-top: 5px;
            color: #999;
        }
    }

    .sender-background{
        background-color:#8FBC8F;
    }

}
