<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-refresh" md="md-refresh" icon-end></ion-icon>

            </button>
        </ion-buttons>
        <ion-title>

            Novo Anúncio

        </ion-title>

    </ion-navbar>

    <ion-toolbar no-border center toolbar-ios-height>

        <!-- <ion-scroll scrollX="true" style="white-space:nowrap;height: 70px;">
            <div class="scroll-item">
                <ion-col col-xs-3 col-sm-1 col-lg-2 nowrap>

                    <ion-row class="card card-1" *ngFor="let p of photo" [style.background-img]="'p'">
                        <img src="{{p}}" #myImage (click)="presentImage(myImage)">
                        <ion-icon name="trash" class="deleteIcon" (click)="removeItem(p)"></ion-icon>
                    </ion-row>

                    <ion-row *ngIf="getQtdFotos()" class="card card-1">
                        <button ion-button danger>
                            <ion-icon ios="ios-camera" md="md-camera" (click)="onActionSheet()"></ion-icon>
                        </button>
                    </ion-row>
                </ion-col>

            </div>
        </ion-scroll> -->

        <ion-row>
            <ion-item no-lines>
                <ion-scroll scrollX="true" scroll-avatar>
                    <ion-avatar>
                        <div *ngFor="let p of photo" class="scroll-item">
                            <img src="{{p}}" #myImage (click)="presentImage(myImage)" class="scroll-item" />
                            <ion-icon name="trash" class="deleteIcon" (click)="removeItem(p)"></ion-icon>

                        </div>
                        <div (click)="onActionSheet()" *ngIf="getQtdFotos()" class="scroll-item">
                            <svg class="scroll-item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                x="0px" y="0px" width="50px" height="50px" viewBox="0 0 512 512" enable-background="new 0 0 50 50"
                                xml:space="preserve">
                                <g>
                                    <circle cx="255.811" cy="285.309" r="75.217" />
                                    <path d="M477,137H352.718L349,108c0-16.568-13.432-30-30-30H191c-16.568,0-30,13.432-30,30l-3.718,29H34   c-11.046,0-20,8.454-20,19.5v258c0,11.046,8.954,20.5,20,20.5h443c11.046,0,20-9.454,20-20.5v-258C497,145.454,488.046,137,477,137   z M255.595,408.562c-67.928,0-122.994-55.066-122.994-122.993c0-67.928,55.066-122.994,122.994-122.994   c67.928,0,122.994,55.066,122.994,122.994C378.589,353.495,323.523,408.562,255.595,408.562z M474,190H369v-31h105V190z"
                                    />
                                </g>
                            </svg>
                            <!-- <img src="{{p}}"   (click)="onActionSheet()" class="scroll-item"/> -->
                            <!-- <ion-icon ios="ios-camera" md="md-camera" (click)="onActionSheet()"></ion-icon> -->
                        </div>
                    </ion-avatar>
                </ion-scroll>
            </ion-item>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="newAnuncio">


        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.nome.valid &&
                            newAnuncio.controls.nome.touched">
            <p>Insira um nome</p>
        </span>
        <br>
        <ion-item>
            <ion-label floating>Console</ion-label>
            <ion-select type="text" formControlName="console">
                <ion-option value="Xbox One">Xbox One</ion-option>
                <ion-option value="XBOX 360">XBOX 360</ion-option>
                <ion-option value="PS4">PS4</ion-option>
                <ion-option value="PS3">PS3</ion-option>
                <ion-option value="PS Vita">PS Vita</ion-option>
                <ion-option value="Wii U">Wii U</ion-option>
                <ion-option value="Wii">Wii</ion-option>
                <ion-option value="3DS">3DS</ion-option>
                <ion-option value="PC">PC</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>

        <span class="error-message" *ngIf="!newAnuncio.controls.console.valid &&
                            newAnuncio.controls.console.touched">
            <p>Selecione o console!</p>
        </span>
        <br>

        <ion-item>
            <ion-label floating>Categoria</ion-label>
            <ion-select type="text" formControlName="categoria">
                <ion-option value="Ação">Ação</ion-option>
                <ion-option value="Aventura">Aventura</ion-option>
                <ion-option value="Esportes">Esportes</ion-option>
                <ion-option value="Corrida">Corrida</ion-option>
                <ion-option value="RPG">RPG</ion-option>
                <ion-option value="Shooter">Shooter</ion-option>
                <ion-option value="Luta">Luta</ion-option>
                <ion-option value="Simulação">Simulação</ion-option>
                <ion-option value="Musical">Musical</ion-option>
                <ion-option value="Fitness">Fitness</ion-option>
                <ion-option value="MMO">MMO</ion-option>
                <ion-option value="Estratégia">Estratégia</ion-option>
                <ion-option value="Casual">Casual</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>

        <span class="error-message" *ngIf="!newAnuncio.controls.categoria.valid &&
                                newAnuncio.controls.categoria.touched">
            <p>Selecione o console!</p>
        </span>

        <br>
        <ion-item>
            <ion-label floating>Preço</ion-label>
            <ion-input formControlName="preco" name="money" [brmasker]="{money: true,decimal: 2,type:'num',len:6} ">
            </ion-input>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.preco.valid &&
        newAnuncio.controls.preco.touched">
            <p>Insira um valor!</p>
        </span>
        <br>
        <ion-label stacked>Objetivo</ion-label>
        <ion-item>
            <ion-label>Troca</ion-label>
            <ion-checkbox name="troca" formControlName="troca" [(ngModel)]="troca" color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Venda</ion-label>
            <ion-checkbox name="venda" formControlName="venda" [(ngModel)]="venda" color="secondary"></ion-checkbox>
        </ion-item>
        <br>
        <ion-label stacked>Descrição</ion-label>
        <ion-item>
            <ion-textarea type="text" formControlName="descricao" autocorrect="on" #descricao rows="4" id="descricao" maxLength="250"
                name="descricao"></ion-textarea>
        </ion-item>
        <span class="error-message" *ngIf="!newAnuncio.controls.descricao.valid &&
                            newAnuncio.controls.descricao.touched">
            <p>Insira uma descrição</p>
        </span>
    </form>
    <button ion-button block (click)="save()" [disabled]="!newAnuncio.valid || getQtdFotos===0">
        Concluir
    </button>
</ion-content>