<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-refresh" md="md-refresh" icon-end></ion-icon>

            </button>
        </ion-buttons>
        <ion-title>

            Novo Anúncio

        </ion-title>

    </ion-navbar>

    <ion-toolbar no-border center toolbar-ios-height>

        <!-- <ion-scroll scrollX="true" style="white-space:nowrap;height: 70px;">
            <div class="scroll-item">
                <ion-col col-xs-3 col-sm-1 col-lg-2 nowrap>

                    <ion-row class="card card-1" *ngFor="let p of photo" [style.background-img]="'p'">
                        <img src="{{p}}" #myImage (click)="presentImage(myImage)">
                        <ion-icon name="trash" class="deleteIcon" (click)="removeItem(p)"></ion-icon>
                    </ion-row>

                    <ion-row *ngIf="getQtdFotos()" class="card card-1">
                        <button ion-button danger>
                            <ion-icon ios="ios-camera" md="md-camera" (click)="onActionSheet()"></ion-icon>
                        </button>
                    </ion-row>
                </ion-col>

            </div>
        </ion-scroll> -->

        <ion-row>
            <ion-item no-lines>
                <ion-scroll scrollX="true" scroll-avatar>
                    <ion-avatar>
                        <div *ngFor="let p of photo" class="scroll-item">
                            <img src="{{p}}" #myImage (click)="presentImage(myImage)" class="scroll-item" />
                            <ion-icon name="trash" class="deleteIcon" (click)="removeItem(p)"></ion-icon>
                        </div>
                        <div *ngIf="getQtdFotos()" class="scroll-item">
                                <ion-icon ios="ios-camera" md="md-camera" (click)="onActionSheet()"></ion-icon>
                        </div>
                    </ion-avatar>
                </ion-scroll>
            </ion-item>
        </ion-row>


    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="newAnuncio">
        <ion-label stacked>Nome</ion-label>
        <ion-item>

            <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newAnuncio.controls.nome.valid &&
                            newAnuncio.controls.nome.touched">
            <p>Insira um nome</p>
        </ion-item>
        <ion-label stacked color="primary">Console</ion-label>

        <ion-item>
            <ion-select type="text" placeholder="Console" formControlName="console">
                <ion-option value="Xbox One">Xbox One</ion-option>
                <ion-option value="XBOX 360">XBOX 360</ion-option>
                <ion-option value="PS4">PS4</ion-option>
                <ion-option value="PS3">PS3</ion-option>
                <ion-option value="PS Vita">PS Vita</ion-option>
                <ion-option value="Wii U">Wii U</ion-option>
                <ion-option value="Wii">Wii</ion-option>
                <ion-option value="3DS">3DS</ion-option>
                <ion-option value="PC">PC</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="error-message" *ngIf="!newAnuncio.controls.console.valid &&
                            newAnuncio.controls.console.touched">
            <p>Selecione o console!</p>
        </ion-item>
        <ion-label stacked color="primary">Categoria</ion-label>

        <ion-item>
            <ion-select type="text" placeholder="Categoria" formControlName="categoria">
                <ion-option value="Ação">Ação</ion-option>
                <ion-option value="Aventura">Aventura</ion-option>
                <ion-option value="Esportes">Esportes</ion-option>
                <ion-option value="Corrida">Corrida</ion-option>
                <ion-option value="RPG">RPG</ion-option>
                <ion-option value="Shooter">Shooter</ion-option>
                <ion-option value="Luta">Luta</ion-option>
                <ion-option value="Simulação">Simulação</ion-option>
                <ion-option value="Musical">Musical</ion-option>
                <ion-option value="Fitness">Fitness</ion-option>
                <ion-option value="MMO">MMO</ion-option>
                <ion-option value="Estratégia">Estratégia</ion-option>
                <ion-option value="Casual">Casual</ion-option>
                <ion-option value="Outros">Outros</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="error-message" *ngIf="!newAnuncio.controls.categoria.valid &&
                                newAnuncio.controls.categoria.touched">
            <p>Selecione o console!</p>
        </ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-item>

            <ion-input formControlName="preco" type="text" name="money" placeholder="(R$) Real" [brmasker]="{money: true,decimal: 2,type:  'num'} ">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newAnuncio.controls.preco.valid &&
        newAnuncio.controls.preco.touched">
            <p>Insira um valor!</p>
        </ion-item>

        <ion-label>Objetivo</ion-label>
        <ion-item>
            <ion-label>Troca</ion-label>
            <ion-checkbox name="troca" formControlName="troca" [(ngModel)]="troca" color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Venda</ion-label>
            <ion-checkbox name="venda" formControlName="venda" [(ngModel)]="venda" color="secondary"></ion-checkbox>
        </ion-item>

        <ion-label stacked>Descrição</ion-label>
        <ion-item>
            <ion-textarea type="text" placeholder="Descrição" formControlName="descricao" autocorrect="on" #descricao rows="4" id="descricao"
                maxLength="250" name="descricao"></ion-textarea>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newAnuncio.controls.descricao.valid &&
                            newAnuncio.controls.descricao.touched">
            <p>Insira uma descrição</p>
        </ion-item>

    </form>



</ion-content>
<ion-footer>
    <button ion-button block (click)="save()" [disabled]="!newAnuncio.valid || getQtdFotos===0">
        Concluir
    </button>
</ion-footer>