user-menu {
    .content {
        background: transparentize($color: #000000, $amount: 0.75);
        .item {
            background: transparentize($color: #000000, $amount: 0.80);
            color: color($colors,light);
        }
    }
}