<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" class="login_form" (submit)="loginUser()" novalidate>
    <ion-item [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched" [class.valid]="loginForm.controls.email.valid && loginForm.controls.email.touched">
      <ion-icon name="mail" item-left color="primary"></ion-icon>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
             loginForm.controls.email.touched">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched" [class.valid]="loginForm.controls.password.valid && loginForm.controls.password.touched">
      <ion-icon name="lock" item-left color="primary"></ion-icon>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
            && loginForm.controls.password.touched">
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Log In
    </button>
    <button ion-button type="button" (click)="cancelClicked()" block>Cancel</button>
  </form>

</ion-content>